body{
  // background-color: transparent;
}

/*login form*/
body.login {
  padding-top: 40px;
  padding-bottom: 40px;
}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
/*login form end*/
// .nav-shadow{
//   .box-shadow(inset 0 -2px 5px rgba(0,0,0,0.1));
// }
.navbar-default {
    background-color: rgba(255, 255, 255, 0.35);
    border-color: #32A1FF;
    .navbar-brand{
        color: #BDDBFF;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.39);
    }
}
.menu{
  list-style: none;
  // background-color: #e6e9ed;
  background-color: rgba(255, 255, 255, 0.15);//lighten(#37bc9b, 10%);
  >li{
    display: inline-table;
    line-height: 30px;
    padding: 0 10px; 
    .transition(background-color 0.2s linear, color .4s .2s ease);
    &:hover, &:active, &.active{
      .transition(background-color 0.2s linear, color .4s .2s ease);
      background-color: #6a6a6a;
      .box-shadow(inset 0 -2px 5px rgba(0,0,0,0.2));
      color: #fff;
      a{
        color: #fff;
      }
    }
    a{
      color: #fff;
    }
  }
}
.page-header{
  padding-bottom: 0;
    color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.39);
    border-bottom:1px solid rgba(238, 238, 238, 0.29);
}
.site-footer, body.login{
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.39);
    color: #fff;
}
.footer-copyright{
  color:#fff;
}
.soft-line{
    border-top:1px solid rgba(238, 238, 238, 0.29);
}
body {
  background-attachment: fixed;
  background-image: -moz-linear-gradient(143deg, #025592 0%, rgba(0, 84, 145, 0) 80%), -moz-linear-gradient(310deg, rgba(0, 70, 83, 0) 60%, rgba(32, 160, 255, 0.3) 100%), -moz-linear-gradient(230deg, rgba(83, 0, 64, 0) 50%, #b60e89 106%), -moz-linear-gradient(85deg, rgba(0, 83, 92, 0.6) 3%, rgba(0, 114, 130, 0) 30%, rgba(0, 114, 130, 0) 40%, rgba(0, 114, 130, 0.1) 64%, rgba(0, 58, 75, 0.5) 83%, #002937 107%), -moz-radial-gradient(75% 60%, circle, #1ad2d5 0%, rgba(0, 70, 83, 0) 90%), -moz-linear-gradient(83deg, rgba(0, 198, 180, 0.5) 0%, rgba(0, 83, 99, 0) 50%, rgba(0, 70, 83, 0.5) 100%), -moz-linear-gradient(0deg, #07a693 0%, #00aedf 100%);
  background-image: -o-linear-gradient(143deg, #025592 0%, rgba(0, 84, 145, 0) 80%), -o-linear-gradient(310deg, rgba(0, 70, 83, 0) 60%, rgba(32, 160, 255, 0.3) 100%), -o-linear-gradient(230deg, rgba(83, 0, 64, 0) 50%, #b60e89 106%), -o-linear-gradient(85deg, rgba(0, 83, 92, 0.6) 3%, rgba(0, 114, 130, 0) 30%, rgba(0, 114, 130, 0) 40%, rgba(0, 114, 130, 0.1) 64%, rgba(0, 58, 75, 0.5) 83%, #002937 107%), -o-radial-gradient(75% 60%, circle, #1ad2d5 0%, rgba(0, 70, 83, 0) 90%), -o-linear-gradient(83deg, rgba(0, 198, 180, 0.5) 0%, rgba(0, 83, 99, 0) 50%, rgba(0, 70, 83, 0.5) 100%), -o-linear-gradient(0deg, #07a693 0%, #00aedf 100%);
  background-image: -webkit-linear-gradient(143deg, #025592 0%, rgba(0, 84, 145, 0) 80%), -webkit-linear-gradient(310deg, rgba(0, 70, 83, 0) 60%, rgba(32, 160, 255, 0.3) 100%), -webkit-linear-gradient(230deg, rgba(83, 0, 64, 0) 50%, #b60e89 106%), -webkit-linear-gradient(85deg, rgba(0, 83, 92, 0.6) 3%, rgba(0, 114, 130, 0) 30%, rgba(0, 114, 130, 0) 40%, rgba(0, 114, 130, 0.1) 64%, rgba(0, 58, 75, 0.5) 83%, #002937 107%), -webkit-radial-gradient(75% 60%, circle, #1ad2d5 0%, rgba(0, 70, 83, 0) 90%), -webkit-linear-gradient(83deg, rgba(0, 198, 180, 0.5) 0%, rgba(0, 83, 99, 0) 50%, rgba(0, 70, 83, 0.5) 100%), -webkit-linear-gradient(0deg, #07a693 0%, #00aedf 100%);
  background-image: linear-gradient(-53deg, #025592 0%, rgba(0, 84, 145, 0) 80%), linear-gradient(140deg, rgba(0, 70, 83, 0) 60%, rgba(32, 160, 255, 0.3) 100%), linear-gradient(-140deg, rgba(83, 0, 64, 0) 50%, #b60e89 106%), linear-gradient(5deg, rgba(0, 83, 92, 0.6) 3%, rgba(0, 114, 130, 0) 30%, rgba(0, 114, 130, 0) 40%, rgba(0, 114, 130, 0.1) 64%, rgba(0, 58, 75, 0.5) 83%, #002937 107%), radial-gradient(75% 60%, circle, #1ad2d5 0%, rgba(0, 70, 83, 0) 90%), linear-gradient(7deg, rgba(0, 198, 180, 0.5) 0%, rgba(0, 83, 99, 0) 50%, rgba(0, 70, 83, 0.5) 100%), linear-gradient(90deg, #07a693 0%, #00aedf 100%);
}
#chatboxTabs{padding-left: 160px;}
#tabButton{
  // width: 150px;
  // margin-left: auto;
}
#tabButton,#chatboxTabs{
  max-height: 350px;
  // overflow: hidden;
  // &:hover{
  //   // overflow-y: auto;
  // }
}