.dialogs {
  padding:9px 9px 0;
  position:relative;
}
.itemdiv {
  padding-right:3px;
  min-height:66px;
  position:relative;
  
  > .user {
		display:inline-block;
		width:42px;
		position:absolute;
		left:0;
		
			> .avatar {
				border-radius:100%;
				border:2px solid #5293C4;
				position:relative;
				width: 40px;
			  display: block;
			  height: 40px;
			  padding-top: 5px;
			  text-align: center;
			  font-size: 19px;
			  // font-weight: bold;
			  background-color: #077F8C;
			  color: rgba(255, 255, 255, 0.52);
			  word-wrap: break-word;
			  line-height: 13px;
			  overflow: hidden;
			}
  }


  > .body {
	width:auto;	
	margin-left:50px;
	margin-right:12px;

	position:relative;
	background-color: lighten(#0D80E1, 40%) ;
      .border-radius(4px);
	
	> .time {
		display:block;
		font-size:11px;
		font-weight:bold;
		color:#666;
 
		position:absolute;
		right:9px; top:0;

		[class*="icon-"] {
			font-size:14px;
			font-weight:normal;
		}
	}// .body > .time
	
	> .name {
		display:block;
		color:#999;
		 > b { color:#777777; }
	}// .body > .name

	> .text {
		display:block;
		position:relative;
		margin-top:2px;
		 
		padding-bottom:19px;
		padding-left:7px;
		
		font-size:13px;

		&:after {
			 display:block; content:"";
			 height:1px; font-size:0; overflow:hidden;
			 position:absolute;
			 left:16px; right:-12px; margin-top:9px;
			 
			 border-top:1px solid #E4ECF3;
		}
		
		> [class*="icon-quote-"]:first-child {
			color:#DCE3ED;
			margin-right:4px;
		}
	}// .body > .text
  }
  &:last-child > .body > .text {
	border-bottom:none;
	&:after {
		display:none;
	}
  }



 &.dialogdiv {
	padding-bottom:14px;
	&:before {
		/*position:absolute;
		display:block; content:"";
		  
		top:0; bottom:0; left:19px;
		width:3px; max-width:3px;

		background-color:#E1E6ED;
		border:1px solid #D7DBDD;
		border-width:0 1px;*/
	}
	&:last-child:before {
		display:none;
	}
	
	
	> .user > .avatar {
		border-color:#C9D6E5;
	}
	> .body {
		border:1px solid #DDE4ED;
		padding:5px 8px 8px;
		border-left-width:2px;
		margin-right:1px;

		&:before{
			content:""; display:block;
			position:absolute; left:-7px; top:11px;
			width:8px; height:8px;
			border:2px solid #DDE4ED;
			border-width:2px 0 0 2px;
	        background-color: lighten(#0D80E1, 40%) ;
			.box-sizing(content-box);
			 
			.rotate(-45deg);
		}
		
		> .time {
			position:static;
			float:right;
		}
		> .text {
			padding-left:0;
			padding-bottom:0px;
			&:after {display:none;}
		}
	}
	
	.tooltip-inner {
		word-break:break-all;
	}
 }//end of .itemdiv.dialogdiv



 &.memberdiv {
	 width:175px;
	 padding:2px;
	 margin:3px 0;
	 float:left;
	 border-bottom:1px solid #E8E8E8;
	  
	 > .user > img {
		border-color:#DCE3ED;
	 }

	 > .body {
		> .time {
			position:static;
		}
		> .name {
			line-height:18px; height:18px;
			margin-bottom:0;
			> a {
				display:inline-block;
				max-width:100px; max-height:18px;
				overflow:hidden;
				text-overflow:ellipsis;
				word-break:break-all;
			}
		}
	 }
 }//.itemdiv.memberdiv

 .tools {
	//width:20px;
	position:absolute;
	right:5px; bottom:10px;
	display:none;
	.btn {
		border-radius:36px;
		margin:1px 0;
	}
 }
 .body .tools {
	bottom:4px;
 }
 &.commentdiv .tools {
	right:9px;
 }
 &:hover .tools{
	display:inline-block;
 }

}


.msg-admin{> .itemdiv {
	padding-right:0;
	padding-left:3px;
	> .user {
		left:auto;
		right:0;
		> .avatar{
			background-color: #0D80E1;
		}
	}
	> .body {
		margin-right:50px;
		margin-left:12px;
        background-color:#f4f4f4; 
		> .time {
			right:auto;
			// left:9px;
		}
		> .text {
			padding-left:0;
			padding-right:7px;
			&:after {
				right:16px; left:-12px;
			}
			
			> [class*="icon-quote-"]:first-child {
				margin-left:4px;
				margin-right:0;
			}
		}
	}
	
	&.dialogdiv {
		&:before {
			left:auto;
			right:19px;
		}
		> .body {
			border-left-width:1px;
			border-right-width:2px;
			margin-left:1px;

			&:before{
				left:auto; right:-7px;
				border-width:2px 2px 0 0;
				.rotate(45deg);
                background-color:#f4f4f4; 
			}
			> .time {
				position: relative;
				float:none;
			}
			> .name{
				float:right;
			}
			> .text {
				padding-right:0;
			}
		}
	}
	
	&.memberdiv {
		float:right;
	}
	
	
	.tools {
		right:auto;
		left:4px;
	}
	&.commentdiv .tools {
		right:auto;
		left:9px;
	}
 }
}