/*login form*/
body.login {
  padding-top: 40px;
  padding-bottom: 40px;
}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
/*login form end*/
.navbar-default {
  background-color: rgba(255, 255, 255, 0.35);
  border-color: #32A1FF;
}
.navbar-default .navbar-brand {
  color: #BDDBFF;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.39);
}
.menu {
  list-style: none;
  background-color: rgba(255, 255, 255, 0.15);
}
.menu > li {
  display: inline-table;
  line-height: 30px;
  padding: 0 10px;
  -webkit-transition: background-color 0.2s linear, color 0.4s 0.2s ease;
  -moz-transition: background-color 0.2s linear, color 0.4s 0.2s ease;
  -o-transition: background-color 0.2s linear, color 0.4s 0.2s ease;
  transition: background-color 0.2s linear, color 0.4s 0.2s ease;
}
.menu > li:hover,
.menu > li:active,
.menu > li.active {
  -webkit-transition: background-color 0.2s linear, color 0.4s 0.2s ease;
  -moz-transition: background-color 0.2s linear, color 0.4s 0.2s ease;
  -o-transition: background-color 0.2s linear, color 0.4s 0.2s ease;
  transition: background-color 0.2s linear, color 0.4s 0.2s ease;
  background-color: #6a6a6a;
  -webkit-box-shadow: inset 0px -2px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0px -2px 5px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px -2px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 -2px 5px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 -2px 5px rgba(0, 0, 0, 0.2);
  color: #fff;
}
.menu > li:hover a,
.menu > li:active a,
.menu > li.active a {
  color: #fff;
}
.menu > li a {
  color: #fff;
}
.page-header {
  padding-bottom: 0;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.39);
  border-bottom: 1px solid rgba(238, 238, 238, 0.29);
}
.site-footer,
body.login {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.39);
  color: #fff;
}
.footer-copyright {
  color: #fff;
}
.soft-line {
  border-top: 1px solid rgba(238, 238, 238, 0.29);
}
body {
  background-attachment: fixed;
  background-image: -moz-linear-gradient(143deg, #025592 0%, rgba(0, 84, 145, 0) 80%), -moz-linear-gradient(310deg, rgba(0, 70, 83, 0) 60%, rgba(32, 160, 255, 0.3) 100%), -moz-linear-gradient(230deg, rgba(83, 0, 64, 0) 50%, #b60e89 106%), -moz-linear-gradient(85deg, rgba(0, 83, 92, 0.6) 3%, rgba(0, 114, 130, 0) 30%, rgba(0, 114, 130, 0) 40%, rgba(0, 114, 130, 0.1) 64%, rgba(0, 58, 75, 0.5) 83%, #002937 107%), -moz-radial-gradient(75% 60%, circle, #1ad2d5 0%, rgba(0, 70, 83, 0) 90%), -moz-linear-gradient(83deg, rgba(0, 198, 180, 0.5) 0%, rgba(0, 83, 99, 0) 50%, rgba(0, 70, 83, 0.5) 100%), -moz-linear-gradient(0deg, #07a693 0%, #00aedf 100%);
  background-image: -o-linear-gradient(143deg, #025592 0%, rgba(0, 84, 145, 0) 80%), -o-linear-gradient(310deg, rgba(0, 70, 83, 0) 60%, rgba(32, 160, 255, 0.3) 100%), -o-linear-gradient(230deg, rgba(83, 0, 64, 0) 50%, #b60e89 106%), -o-linear-gradient(85deg, rgba(0, 83, 92, 0.6) 3%, rgba(0, 114, 130, 0) 30%, rgba(0, 114, 130, 0) 40%, rgba(0, 114, 130, 0.1) 64%, rgba(0, 58, 75, 0.5) 83%, #002937 107%), -o-radial-gradient(75% 60%, circle, #1ad2d5 0%, rgba(0, 70, 83, 0) 90%), -o-linear-gradient(83deg, rgba(0, 198, 180, 0.5) 0%, rgba(0, 83, 99, 0) 50%, rgba(0, 70, 83, 0.5) 100%), -o-linear-gradient(0deg, #07a693 0%, #00aedf 100%);
  background-image: -webkit-linear-gradient(143deg, #025592 0%, rgba(0, 84, 145, 0) 80%), -webkit-linear-gradient(310deg, rgba(0, 70, 83, 0) 60%, rgba(32, 160, 255, 0.3) 100%), -webkit-linear-gradient(230deg, rgba(83, 0, 64, 0) 50%, #b60e89 106%), -webkit-linear-gradient(85deg, rgba(0, 83, 92, 0.6) 3%, rgba(0, 114, 130, 0) 30%, rgba(0, 114, 130, 0) 40%, rgba(0, 114, 130, 0.1) 64%, rgba(0, 58, 75, 0.5) 83%, #002937 107%), -webkit-radial-gradient(75% 60%, circle, #1ad2d5 0%, rgba(0, 70, 83, 0) 90%), -webkit-linear-gradient(83deg, rgba(0, 198, 180, 0.5) 0%, rgba(0, 83, 99, 0) 50%, rgba(0, 70, 83, 0.5) 100%), -webkit-linear-gradient(0deg, #07a693 0%, #00aedf 100%);
  background-image: linear-gradient(-53deg, #025592 0%, rgba(0, 84, 145, 0) 80%), linear-gradient(140deg, rgba(0, 70, 83, 0) 60%, rgba(32, 160, 255, 0.3) 100%), linear-gradient(-140deg, rgba(83, 0, 64, 0) 50%, #b60e89 106%), linear-gradient(5deg, rgba(0, 83, 92, 0.6) 3%, rgba(0, 114, 130, 0) 30%, rgba(0, 114, 130, 0) 40%, rgba(0, 114, 130, 0.1) 64%, rgba(0, 58, 75, 0.5) 83%, #002937 107%), radial-gradient(75% 60%, circle, #1ad2d5 0%, rgba(0, 70, 83, 0) 90%), linear-gradient(7deg, rgba(0, 198, 180, 0.5) 0%, rgba(0, 83, 99, 0) 50%, rgba(0, 70, 83, 0.5) 100%), linear-gradient(90deg, #07a693 0%, #00aedf 100%);
}
#chatboxTabs {
  padding-left: 160px;
}
#tabButton,
#chatboxTabs {
  max-height: 350px;
}
.dialogs {
  padding: 9px 9px 0;
  position: relative;
}
.itemdiv {
  padding-right: 3px;
  min-height: 66px;
  position: relative;
}
.itemdiv > .user {
  display: inline-block;
  width: 42px;
  position: absolute;
  left: 0;
}
.itemdiv > .user > .avatar {
  border-radius: 100%;
  border: 2px solid #5293C4;
  position: relative;
  width: 40px;
  display: block;
  height: 40px;
  padding-top: 5px;
  text-align: center;
  font-size: 19px;
  background-color: #077F8C;
  color: rgba(255, 255, 255, 0.52);
  word-wrap: break-word;
  line-height: 13px;
  overflow: hidden;
}
.itemdiv > .body {
  width: auto;
  margin-left: 50px;
  margin-right: 12px;
  position: relative;
  background-color: #bfe0fb;
  -webkit-border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 4px;
  -moz-background-clip: padding;
  border-radius: 4px;
  background-clip: padding-box;
}
.itemdiv > .body > .time {
  display: block;
  font-size: 11px;
  font-weight: bold;
  color: #666;
  position: absolute;
  right: 9px;
  top: 0;
}
.itemdiv > .body > .time [class*="icon-"] {
  font-size: 14px;
  font-weight: normal;
}
.itemdiv > .body > .name {
  display: block;
  color: #999;
}
.itemdiv > .body > .name > b {
  color: #777777;
}
.itemdiv > .body > .text {
  display: block;
  position: relative;
  margin-top: 2px;
  padding-bottom: 19px;
  padding-left: 7px;
  font-size: 13px;
}
.itemdiv > .body > .text:after {
  display: block;
  content: "";
  height: 1px;
  font-size: 0;
  overflow: hidden;
  position: absolute;
  left: 16px;
  right: -12px;
  margin-top: 9px;
  border-top: 1px solid #E4ECF3;
}
.itemdiv > .body > .text > [class*="icon-quote-"]:first-child {
  color: #DCE3ED;
  margin-right: 4px;
}
.itemdiv:last-child > .body > .text {
  border-bottom: none;
}
.itemdiv:last-child > .body > .text:after {
  display: none;
}
.itemdiv.dialogdiv {
  padding-bottom: 14px;
}
.itemdiv.dialogdiv:before {
  /*position:absolute;
		display:block; content:"";
		  
		top:0; bottom:0; left:19px;
		width:3px; max-width:3px;

		background-color:#E1E6ED;
		border:1px solid #D7DBDD;
		border-width:0 1px;*/
}
.itemdiv.dialogdiv:last-child:before {
  display: none;
}
.itemdiv.dialogdiv > .user > .avatar {
  border-color: #C9D6E5;
}
.itemdiv.dialogdiv > .body {
  border: 1px solid #DDE4ED;
  padding: 5px 8px 8px;
  border-left-width: 2px;
  margin-right: 1px;
}
.itemdiv.dialogdiv > .body:before {
  content: "";
  display: block;
  position: absolute;
  left: -7px;
  top: 11px;
  width: 8px;
  height: 8px;
  border: 2px solid #DDE4ED;
  border-width: 2px 0 0 2px;
  background-color: #bfe0fb;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.itemdiv.dialogdiv > .body > .time {
  position: static;
  float: right;
}
.itemdiv.dialogdiv > .body > .text {
  padding-left: 0;
  padding-bottom: 0px;
}
.itemdiv.dialogdiv > .body > .text:after {
  display: none;
}
.itemdiv.dialogdiv .tooltip-inner {
  word-break: break-all;
}
.itemdiv.memberdiv {
  width: 175px;
  padding: 2px;
  margin: 3px 0;
  float: left;
  border-bottom: 1px solid #E8E8E8;
}
.itemdiv.memberdiv > .user > img {
  border-color: #DCE3ED;
}
.itemdiv.memberdiv > .body > .time {
  position: static;
}
.itemdiv.memberdiv > .body > .name {
  line-height: 18px;
  height: 18px;
  margin-bottom: 0;
}
.itemdiv.memberdiv > .body > .name > a {
  display: inline-block;
  max-width: 100px;
  max-height: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
}
.itemdiv .tools {
  position: absolute;
  right: 5px;
  bottom: 10px;
  display: none;
}
.itemdiv .tools .btn {
  border-radius: 36px;
  margin: 1px 0;
}
.itemdiv .body .tools {
  bottom: 4px;
}
.itemdiv.commentdiv .tools {
  right: 9px;
}
.itemdiv:hover .tools {
  display: inline-block;
}
.msg-admin > .itemdiv {
  padding-right: 0;
  padding-left: 3px;
}
.msg-admin > .itemdiv > .user {
  left: auto;
  right: 0;
}
.msg-admin > .itemdiv > .user > .avatar {
  background-color: #0D80E1;
}
.msg-admin > .itemdiv > .body {
  margin-right: 50px;
  margin-left: 12px;
  background-color: #f4f4f4;
}
.msg-admin > .itemdiv > .body > .time {
  right: auto;
}
.msg-admin > .itemdiv > .body > .text {
  padding-left: 0;
  padding-right: 7px;
}
.msg-admin > .itemdiv > .body > .text:after {
  right: 16px;
  left: -12px;
}
.msg-admin > .itemdiv > .body > .text > [class*="icon-quote-"]:first-child {
  margin-left: 4px;
  margin-right: 0;
}
.msg-admin > .itemdiv.dialogdiv:before {
  left: auto;
  right: 19px;
}
.msg-admin > .itemdiv.dialogdiv > .body {
  border-left-width: 1px;
  border-right-width: 2px;
  margin-left: 1px;
}
.msg-admin > .itemdiv.dialogdiv > .body:before {
  left: auto;
  right: -7px;
  border-width: 2px 2px 0 0;
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: #f4f4f4;
}
.msg-admin > .itemdiv.dialogdiv > .body > .time {
  position: relative;
  float: none;
}
.msg-admin > .itemdiv.dialogdiv > .body > .name {
  float: right;
}
.msg-admin > .itemdiv.dialogdiv > .body > .text {
  padding-right: 0;
}
.msg-admin > .itemdiv.memberdiv {
  float: right;
}
.msg-admin > .itemdiv .tools {
  right: auto;
  left: 4px;
}
.msg-admin > .itemdiv.commentdiv .tools {
  right: auto;
  left: 9px;
}

.nav-tabs{width:23%;}
.tab-pane{margin-left:25%;}

